.tab-bar {
  margin: 0px;
  padding: 0px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
}
