.App {
  min-width: 37.5em;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-size: cover;
}

#title {
  font-size: 11.25em;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 7.25em;
  }
}
